@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


:root {
    --primary-color: #18232C;
    --secondary-color: #5CA8C2;
}

body {
    background-image: url("../../images/bg/wp2225973.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100vw;
    min-height: 700px;
    overflow-x: hidden;
}

nav {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 15%;
    background-color: var(--primary-color);
    transition: 200ms ease;
    min-width: 200px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    background-color: #94C5C5 !important;
    color: black;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
}

main, header, footer{
    width: 85%;
    margin-left: auto;
}

header {
    height: 100vh;
}

main {
    height: max-content;
}

nav > .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-brand {
    font-size: 2rem;
    text-shadow: 1px 2px black;
    margin: 80px 0 20px 0;
    text-align: center;
}

.navbar-toggler {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.088) !important;
    background-image: url("../images/icons/icons8-menu-arredondado-50.png");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    display: none;
    transition: 400ms;
    border-radius: 2px;
}

.navbar-nav {
    width: 100%;
}

#navbarNavDropdown {
    width: 100%;
}

.nav-item {
    font-size: 1.5rem;
    border-bottom: .5px solid rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 100%;
    padding: 10px 0;
    transition: 400ms;
}

.nav-item:hover {
    border-bottom: 1.5px solid var(--secondary-color);
}

.dropdown-menu {
    height: 0;
    overflow: hidden;
}

.dropdown-menu.active {
    height: max-content
}

.dropdown-item {
    font-size: 14px;
    border-bottom: .1px dashed rgba(255, 255, 255, 0.129);
}

.title {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -50%);
    margin: 0 auto;
    text-shadow: 1px 2px black;
    width: 100%;
    color: white;
}

.title h1{
    font-size: 7rem;
}

.title p{
    font-size: 2rem;
    letter-spacing: 10px;
}

.carousel, .carousel-inner, .carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    overflow: hidden;
}
    

#banner1 {
    background-image: url("../../images/banner/skyrim1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: none;
}

#banner2 {
    background-image: url("../../images/banner/skyrim2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: none;
}

#banner3 {
    background-image: url("../../images/banner/skills.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: none;
}

#banner1.active {
    display: block;
}
#banner2.active {
    display: block;
}
#banner3.active {
    display: block;
}

#posts > .row {
    display: flex;
    flex-direction: column;
}

#novosPosts > article {
    margin: 15px;
    padding: 10px;
    border-radius: 2px;
    border: .5px solid rgba(255, 255, 255, 0.331);
    background-color: #343a40c0 !important;
}

.card-header {
    border-bottom: .5px solid rgba(218, 209, 209, 0.278);
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.card-body > button {
    margin-top: 15px;
}

#populares > h3 {
    background-color: var(--primary-color);
    margin: 0;
    padding: 20px 0 20px 10px;
    border-left: 15px solid var(--secondary-color);
}

#populares {
    background-color: var(--primary-color);
    margin: 15px;
}

#populares .card {
    padding: 15px;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.52);
    border-radius: 10px;
}

#populares .card-text {
    margin-bottom: 25px;
}

#populares > .card a {
    background-color: #94C5C5;
    color: black;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
}

footer {
    background-color: var(--primary-color);
    padding: 10px 0 0 0;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

#cssHandler {
    position: fixed;
    background-color: white !important;
    bottom: 10px;
    padding: 10px;
    border-radius: 100px;
    right: 10px;
    border: none;
    cursor: pointer;
}

#cssHandler img {
    width: 40px;
}

@media (max-width: 750px) {
    #banner1 {
        background-image: url("../../images/banner/mobile3.jpeg");
        background-position: top;
    }
    #banner2 {
        background-image: url("../../images/banner/mobile2.jpeg");
        background-position: top;
    }
    #banner3 {
        background-image: url("../../images/banner/mobile1.jpeg");
        background-position: top;
    }
    main, header, footer{
        width: 100%;
    }

    nav {
        min-width: 0;
        width: 0;
        overflow: hidden;
    }

    .title {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav.open {
        width: 200px;
    }

    .navbar-toggler {
        display: block;
        z-index: 1000;
    }
}

