@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


:root {
    --primary-color: #18232C;
    --secondary-color: #5CA8C2;
}

html {
    overflow-x: hidden;
}

body {
    background-image: url("../../images/bg/wp2225973.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#post{
    background-color: #18232ced;
    margin-top: 30px;
    padding: 30px 20px;
}

.post-title {
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.post-resume {
    font-size: 14px;
    font-style: italic;
}

.post-author {
    font-size: 14px;
}

.post-img img {
    margin-top: 5px;
    width: 100%;
}

#post > p {
    padding-right: 30px;
}

#populares {
    margin-top: 30px;
}

#populares > .card {
    background-color: var(--primary-color) !important;
    border-radius: 0;
}

#populares > h3 {
    background-color: var(--primary-color) !important;
    margin: 0;
    padding: 20px 0 20px 10px;
    border-left: 3px solid var(--secondary-color);
}

.btn {
    background-color: #94C5C5 !important;
    color: black;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
}

footer {
    background-color: var(--primary-color);
    padding: 10px 0 0 0;
}

footer img {
    width: 50px;
}

footer span {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

footer p {
    text-align: center;
    margin-top: 30px !important;
}


form {
    padding: 50px 50px !important;
    background-color: #18232ced;
}

legend {
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

#name {
    margin-bottom: 25px;
}

#submit {
    width: 100% !important;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    padding: 10px;
}

#policyLabel {
    font-style: italic;
    font-size: 14px;
}

.newsletter {
    margin-bottom: 30px;
}
